<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://b10bc-weu-httptriggertijsfunction-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/368b6593-d3ca-4b7c-9bef-7623bedb2f2e/resourceGroups/b10bc-weu-bootcamp6-rg/providers/Microsoft.Web/sites/b10bc-weu-httptriggerTijsFunction-fa</ResourceId>
    <UserName>$b10bc-weu-httptriggerTijsFunction-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://b10bc-weu-httptriggertijsfunction-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>